<% content_for :title, "Sign Up - Travel Planner" %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center mb-0">Create Your Travel Planner Account</h1>
          <p class="text-center text-muted mb-0">Join us to start planning your next adventure!</p>
        </div>
        <div class="card-body">
          <%= render "form", user: @user %>
          
          <div class="text-center mt-3">
            <p>Already have an account? <%= link_to "Login here", login_path, class: "text-decoration-none" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
